// Hostname for server.
hostname "{{ SERVER_NAME }}"

// RCON - remote console password.
rcon_password "{{ RCON_PASSWORD }}"

// Server password - for private servers.
sv_password "{{ SERVER_PASSWORD }}"

// Server Logging
log on
sv_logbans 1
sv_logecho 1
sv_logfile 1
sv_log_onefile 0
